<ion-menu id ='myMenu' [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        المنظم الذكي
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu">
    <ion-list id="side-menu-list">
      <ion-item color="none" menuClose="" on-click="goToStartPage()" id="side-menu-list-start">
        الصفحة الرئيسية
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToNotificationsPage()" id="side-menu-list-notifications">
        الإشعارات
      </ion-item>
      <ion-item *ngIf="viewTablePage" color="none" menuClose="" on-click="goToTablePage()" id="side-menu-list-table">
        الجدول
      </ion-item>
      <ion-item *ngIf="viewAcountPage" color="none" menuClose="" on-click="goToSonsAccountsPage()" id="side-menu-list-sons-accounts">
        حسابات الأبناء
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToLoginPage()" id="side-menu-list-logout">
        تسجيل الخروج
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #mainContent [root]="rootPage"></ion-nav>